@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1689217581693') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e69a";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-zuihouyiyemoyexiayishou:before {
  content: "\e76d";
}

.icon-diyiyeshouyeshangyishou:before {
  content: "\e76e";
}

.icon-shipinbofangshibofang:before {
  content: "\e62b";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-aixin1:before {
  content: "\e8c3";
}

