/* @import './base.css'; */
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  border: none;
}

a {
  color: #000000;
  text-decoration: none;
}